<div class="col-md-12">

  <h2 class="text-center"> 我发布的电影信息 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 电影名称 </th>
        <th> 影评内容 </th>
        <th> 评论数 </th>
        <th> 最后更新 </th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(movie.title, movie_path(movie)) %> </td>
          <td> <%= movie.description %> </td>
          <td> <%= movie.reviews.count %> </td>
          <td> <%= movie.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
